---
title: Homicide/Art of Access Readings Part 2 and More
description: |
  Quiz covering chapters 3, 4, 5 of "Homicide" and "Art of Access". And some SQL.
assigned_date: 2016-10-27
due_date: 2016-11-01
due_time: 1:30 PM
points: 5
type: Quiz
deliverables:
  - Fill out the answers on a blank sheet of paper!
requirements:
  - Write your SUNET id on the paper, please
---

<article class="quiz">
  

<%= partial '/layouts/misc_partials/quiz_printer', locals: {quiz: data.quizzes.books_part_2 } %>


</article>

<section id="answers">
<h1>Answers</h1>  


<h6>1.</h6>
<p>D. (Lucky)

<h6>2.</h6>
<p>A (50 Percent of Base Pay)
<h6>3. </h6>
<p>First they go "red"...then they go "green"...then they go "black"
<h6>4. </h6>
<p> The retention schedule can be thought of as the "life span" of a public record. It dictates exactly how long, at a minimum, an agency must keep a public record before destroying it.
<h6>5.</h6>
    
<pre><code>
  SELECT age
  FROM people
  WHERE age = 60;
</code></pre>


<h6>6. </h6> 

<pre><code>
  SELECT AVG(age) AS avg_age, 
    COUNT(*) AS peeps
  FROM people;
</code></pre>

<!-- 
# Sample questions

- What does a guilty man do in the interrogation room?
- Why does Detective Rich Garvey understand the immediate materialistic mindset of a murder victim's family?
- For a homicide detective, what's better than being good?
- Of the 6 murdered females that became a red-ball project, how many went to trial?
- What is the overtime cap for the homicide squad?
 -->
