@charset "utf-8";
@import "variables";


@import "bootstrap";


@import 'site/footer';
@import 'site/header';
@import 'site/headlines';
@import 'site/media';
@import 'site/page';
@import 'site/text';


@import 'pages/assignments';
@import 'pages/homepage';
@import 'pages/schedule';
