.assignment-card{
    .att{
        margin-bottom: 1.0rem;
    }
    .att-label{
        font-weight: bold;
    }
}

#assignments-list{

    table.assignments{
        font-size: 0.8rem;
        table-layout: fixed;

        .description{
            font-size: 0.68rem;
        }

        td.name, th.name{
            max-width: 60%;
            width: 60%
        }

        td.points, th.points{
            text-align: right;
        }
    }

}
