.homepage-layout{

    .curriculum{
        margin-bottom: 1.5em;
        .title{
            font-size: $font-size-h3;
            a:link, a:visited{
                text-decoration: none;
            }
        }
    }

}
