<style>

    #about-class-data .course-title{
        font-size: 1.3rem;
    }

    #about-class-data .row div:first-child{
        font-weight: bold;
    }

    #about-class-data .row{
        margin-bottom: 1.0rem;
    }

</style>


<section id="about-class-data" class="card">

    <div class="card-block">

        <div class="card-title course-title">
            COMM 273D: Public Affairs Data Journalism I
        </div>



           <div class="row">
               <div class="col-sm-3">Objective</div>
               <div class="col-sm-9">
<p>

Accountability journalism has always relied on efficient and purposeful observation, analysis, and investigative drive. The ubiquity of high-powered networked computers today makes the work both easier and yet even more necessary for the modern journalist.
</p>


<p>
Students are expected to become proficient in research and database programming and, as a result, attain the practical experience and wisdom necessary for real-world empirical journalism projects.
</p>

<p>Prerequisite: Journalism M.A. student or permission of the instructor.</p>



               </div>
           </div>

            <div class="row">
                <div class="col-sm-3">Meeting Time</div>
                <div class="col-sm-9">
                    Tuesdays and Thursdays
                    <br>
                    1:30 to 2:50PM
                    <br>
                    September 27 through December 15, 2016

                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">Location</div>
                <div class="col-sm-9"><a href="http://maps.stanford.edu/ada/building-ada.cfm?FACIL_ID=01-120">McClatchy Hall</a> (Building 120), Room 410</div>
            </div>
            <div class="row">
                <div class="col-sm-3">Instructor</div>
                <div class="col-sm-9">
                    <a href="http://stanford.edu/~dun/">Dan Nguyen</a>,
                    Lorry I. Lokey Visiting Professor in Professional Journalism
                    <br>
                    Email: <a href="mailto:dun@stanford.edu">dun@stanford.edu</a>
                    <br>
                    Twitter: <a href="https://twitter.com/dancow">@dancow</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">Books</div>
                <div class="col-sm-9">

                    <ul class="list-unstyled list books">
                        <li class="book">
                            <em class="title">
                                <a href="https://www.goodreads.com/book/show/18956.Homicide">Homicide: A Year on the Killing Streets</a>
                            </em>
                            <br>

                            <span class="author">
                                Simon, David.
                            </span>
                            <span class="publisher">
                                Holt Paperbacks; Reprint Edition
                            </span>
                            <span class="date">
                                2006
                            </span>
                            <span class="isbn">
                                978-0805080759
                            </span>
                        </li>

                        <li class="book">
                            <em class="title">
                                <a href="http://www.goodreads.com/book/show/7871035-the-art-of-access">
                                    The Art of Access: Strategies for Acquiring Public Records
                                </a>
                            </em>
                            <br>

                            <span class="author">
                                Cuillier, David, and Davis, Charles.
                            </span>
                            <span class="publisher">
                                CQ Press
                            </span>
                            <span class="date">
                                2010
                            </span>
                            <span class="isbn">
                                978-1604265507
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">Office Hours</div>
                <div class="col-sm-9">
                Room 342, McClatchy Hall
                <br>
                Tuesdays and Thursdays
                <br>
                3:00 to 5:00PM
                <br>Or by appointment</div>
            </div>
    </div>
</section>
