---
title: Published/Partnered Data Sidebar
description: |
  Alone, or with a partner, find a significant dataset or (several) that you want to dig into deeper. Use spreadsheets, SQL, Carto -- whatever gets the job done.

due_date: 2016-12-15
due_time: 11:59 PM
type: Project
points: 100
deliverables:
  - A written piece of at least 500-800 words that is intended for a wider audience (i.e. not just me)
  - 3 data visualizations. Can be maps, charts, tables, etc.
  - Use at least 2 datasets.
---

Basically, produce a story that for practical purposes, such as winter, can't rely on interviews or personal observation of an event, but is still interesting as an analysis. So, not breaking news, but describe the world with data.

You can work with a partner. Best thing to do this weekend is read and research. Look up datasets. We'll figure out the technical details next week.


# Where to find 2 interesting datasets

I recommend sticking to CSV files. But I'll be around next week to help with tech support.

Places to find interesting datasets:

- [OpenDataNetwork](https://www.opendatanetwork.com/) -- find data across all city data portals with an easy search.
- [MuckRock](https://www.muckrock.com/) -- reap the benefits of others FOIAs
- [Enigma.io](http://enigma.io/) -- a startup that crawls the web for huge public data sets.

# Visualization inspiration

A catalog of inspiration: [Spreadsheet-Made Data Visualizations That Are Relatively Simple and Absolutely Effective](/articles/relatively-simple-data-viz-inspirations)


I'll have a long list for next week, but here's a couple of visualizations doable by anybody, but undervalue as visualizations:

## Tour de France dopes

Doesn't get much simpler than this:

<a href="http://www.nytimes.com/interactive/2012/08/24/sports/top-finishers-of-the-tour-de-france-tainted-by-doping.html">
http://www.smalldatajournalism.com/images/class/2013-10-21/tour-de-france-chart.jpg
</a>


## Ferguson's witnesses

Would you believe that a [plain-old table could shine for such a charged and complicated story](http://www.pbs.org/newshour/updates/newly-released-witness-testimony-tell-us-michael-brown-shooting/)? There's a few ways that this chart could be polished, but that did it take to produce it? Reading the testimony, which you would do already. But also, being committed to finding the truth, as confusing or contradictory as it may seem:

<img src="images/fergusonjurytable.png" alt="fergusonjurytable.png">


### Anti-word-clouding

[Whatever you do, do the opposite of a word cloud](http://www.niemanlab.org/2011/10/word-clouds-considered-harmful/)


# Examples to note

Remember the Social Security Administration babynames data? David Taylor did an excellent, [multi-part analysis of the data using Tableau](http://www.prooffreader.com/2014/07/graphing-problematic-aspects-of-us-baby.html) that helps reveal the depth and limitations of this data, and also, the history of getting a SSN:

<div class='tableauPlaceholder' id='viz1480454393655' style='position: relative'><noscript><a href='http:&#47;&#47;www.prooffreader.com&#47;2014&#47;07&#47;graphing-problematic-aspects-of-us-baby.html'><img alt='Story Title ' src='http:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Un&#47;UnderstandingtheLimitsofthepopularU_S_SocialSecuritybabynamesdataset&#47;LimitsofBabyNamesdatabase&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='http%3A%2F%2Fpublic.tableau.com%2F' /> <param name='site_root' value='' /><param name='name' value='UnderstandingtheLimitsofthepopularU_S_SocialSecuritybabynamesdataset&#47;LimitsofBabyNamesdatabase' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='http:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Un&#47;UnderstandingtheLimitsofthepopularU_S_SocialSecuritybabynamesdataset&#47;LimitsofBabyNamesdatabase&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1480454393655');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='644px';vizElement.style.height='929px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

[In a past session of this class](http://fall2014.padjo.org/2014-10-14/), I walked through an example of how to use SQL to quickly find insights in a big dataset such as the SF crime data. It's a meandering writeup, but the nutgraf of a good data analysis and visualization are there: it's not that interesting that crime rises or falls a few percent every year. It is *really* interesting when certain crimes fall a lot over time.


And one of my all time favorites from I Quant NY: [The NYPD Was Systematically Ticketing Legally Parked Cars for Millions of Dollars a Year- Open Data Just Put an End to It](http://iquantny.tumblr.com/post/144197004989/the-nypd-was-systematically-ticketing-legally)


<!-- 
More to come in this description. But here's some examples:


- Mainbar: [Criminal Past Is No Bar to Nursing in California](https://www.propublica.org/article/criminal-past-is-no-bar-to-nursing-in-california)
  + Sidebar: [Tracking Nurses – What You Need to Know](http://projects.propublica.org/tables/state-nurses-records-lookup)


- Mainbar: [Private prisons are shrouded in secrecy. I took a job as a guard to get inside—then things got crazy](http://www.motherjones.com/politics/2016/06/cca-private-prisons-corrections-corporation-inmates-investigation-bauer)
  - Sidebar: [The Corrections Corporation of America, by the numbers](http://www.motherjones.com/politics/2016/06/cca-corrections-corperation-america-private-prisons-company-profile)


- Mainbar: [Docs on Pharma Payroll Have Blemished Records, Limited Credentials](https://www.propublica.org/article/dollars-to-doctors-physician-disciplinary-records/)
  + Sidebar: [Dollars for Docs: Who’s On Pharma’s Top-Paid List?](https://www.propublica.org/article/profiles-of-the-top-earners-in-dollar-for-docs)





- Mainbar: [N.F.L.’s Flawed Concussion Research and Ties to Tobacco Industry](http://www.nytimes.com/2016/03/25/sports/football/nfl-concussion-research-tobacco.html)
  + Sidebar: [Decoding the N.F.L. Database to Find 100 Missing Concussions](http://www.nytimes.com/2016/03/25/sports/football/at-least-100-concussions-left-out-of-nfl-studies.html) (note that this is a little short, but it still works as an explainer of the data details)





- Story: 
- Sidebar: 
 -->
