
<section id="grading-tables">
    <div class="row">
        <div class="col-sm-6">
            <table id="grading-rubric" class="table table-dual table-sm">
                <h6>Rubric</h6>
                <tbody>
                    <tr>
                        <td>Homework</td>
                        <td>10%</td>
                    </tr>
                    <tr>
                        <td>Quizzes</td>
                        <td>10%</td>
                    </tr>
                    <tr>
                        <td>Projects</td>
                        <td>30%</td>
                    </tr>
                    <tr>
                        <td>Exams</td>
                        <td>50%</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <h6>Grading Scale</h6>
            <table id="grading-scale" class="table table-dual table-sm">
                <tbody>
                    <tr>
                        <td>A</td>
                        <td>90+%</td>
                    </tr>
                    <tr>
                        <td>B</td>
                        <td>80+%</td>
                    </tr>
                    <tr>
                        <td>C</td>
                        <td>70+%</td>
                    </tr>
                    <tr>
                        <td>D</td>
                        <td>60+%</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</section>
