<% wrap_layout :layout do %>
  <div class="homepage-layout">

<!--
    <div class="whatever">
      <%=image_wrap image_path('homepage/stanford_banner.jpg') %>
    </div> -->

    <div class="container">
      <h1 class="site-title banner">
        <%= site_title %>
      </h1>
    </div>



    <%= yield %>



  </div>

<% end %>
