<% wrap_layout :layout do %>
  <div class="homepage-layout">

<!--
    <div class="whatever">
      <%=image_wrap image_path('homepage/stanford_banner.jpg') %>
    </div> -->

    <section>
        <div class="container">
          <h1 class="site-title banner">
            Public Affairs Data&nbsp;Journalism&nbsp;I
          </h1>

          <h3>at Stanford University</h3>
        </div>
    </section>


    <%= yield %>



      <%= partial '/layouts/site_partials/footer' %>

  </div>

<% end %>
