<% wrap_layout :layout do %>
  <div class="homepage-layout">

<!--
    <div class="whatever">
      <%=image_wrap image_path('homepage/stanford_banner.jpg') %>
    </div> -->




    <%= yield %>



      <%= partial '/layouts/site_partials/footer' %>

  </div>

<% end %>
