<% lesson = find_schedule_lesson(current_page) %>

<% content_for :page_title do %>
    <%=friendly_date page_date %>
<% end %>


<% wrap_layout :page_layout do %>
        <section class="sec agenda">
            <h1>Agenda</h1>
            <% if (agenda = lesson.agenda) %>
                <% agenda.each do |item| %>
                    <div class="item">
                        <h5 class="title"><%=link_to item.title, item.url %></h5>
                        <div class="description">
                            <%=item.description %>
                        </div>

                    </div>

                <% end %>
            <% end %>
        </section>


        <section class="sec">
          <%= yield %>
        </section>


<% end %>
