---
title: articles/fec-campaign-finance-data-stories
stub: true
description: |
    lorem ipsum title title title
---

- Think of candidates as numbers
- Think how money relates to committees, not campaigns
- Think of what's uncounted
- 

# Simple to more complex:

## People and corporations give money to a candidate

|   Contributor   |    Candidate     | Amount |
|-----------------|------------------|--------|
| NGUYEN, DAN     | TRUMP, DONALD    | $100   |
| NGUYEN, DAN     | CLINTON, HILLARY | $100   |
| KOCH INDUSTRIES | CLINTON, HILLARY | $10000 |
|                 |                  |        |
### People and corporations give money to a candidate to spend on different things

### People are allowed to give different amounts of money to different things





# How candidates are registered

Candidate Committee form:

http://www.fec.gov/finance/disclosure/candcmte_info.shtml



http://www.fec.gov/pages/brochures/candregis.shtml

<img src="images/fec-file-for-presidency.png" alt="fec-file-for-presidency.png">

https://www.youtube.com/watch?v=3WgZzNbfALQ

Fill out a form: http://www.fec.gov/info/toolkit.shtml#candidate

FEC's candidate summary: http://www.fec.gov/data/CandidateSummary.do?format=html&election_yr=2016



http://www.slate.com/articles/news_and_politics/explainer/2006/11/how_to_run_for_president.html

https://ballotpedia.org/Filing_requirements_for_congressional_candidates
http://docquery.fec.gov/pdf/490/201507269000421490/201507269000421490.pdf




## How a cat becomes president

<a href="https://limberbutt.com/"><img src="images/limberbutt-logos.jpg" alt="limberbutt-logos.jpg"></a>


[Kentucky cat announces 2016 presidential bid](http://www.wkyt.com/home/headlines/Kentucky-cat-announces-2016-presidential-bid-318094541.html)

> Limberbutt McCubbins, a Kentucky cat, is running for president.

> The Louisville Courier-Journal reports the cat relied on translators Isaac Weiss and Emilee McCubbins to announce his 2016 presidential bid.

> The cat, a Democrat, plans to improve space exploration and environmental protection.

### Searching for Limberbutt

There's a couple of forms: [Candidate and Committee Viewer](http://www.fec.gov/finance/disclosure/candcmte_info.shtml)


<img src="images/fec-candidate-comitteee-search-limberbutt.png" alt="fec-candidate-search-limberbutt.png">

Limberbutt is a Democrat. The Presidency is Open.


#### Details on Limberbutt

Clicking on its link to t0 the details page, you'll see this summary of reports:

http://www.fec.gov/fecviewer/CandidateCommitteeDetail.do?candidateCommitteeId=P60007366&tabIndex=1

<img src="images/limberbutt-fec-candidate-details-summaries-tab.png" alt="limberbutt-fec-candidate-details-summaries-tab.png">

Names its campaign committee, "COMMITTEE INFORMATION
THE COMMITTEE FOR THE INSTALLATION OF LIMBERBUTT", which is where most people donate if they want to directly support the candidate.

Check the filings tab

<img src="images/limberbutt-fec-candidate-details-filings-tab.png" alt="limberbutt-fec-candidate-details-filings-tab.png">

We see that there's a Statement of Candidacy for May 6, 2015. The page by page:

http://www.fec.gov/fecviewer/CandCmteFilingsPDFDownload.do?imageNumber=15951364170&imageURL=docquery.fec.gov/cgi-bin/fecimg/?_15951364170+0

To be a candidate, you have to fill out FEC FORM 2, including your address, declare a party affiliation, and list candidate campaigns.

<img src="images/limberbutt-fec-candidate-declaration-candidacy.png" alt="limberbutt-fec-candidate-declaration-candidacy.png">





## Deez Nutz

But enough of the joke candidates, let's get to candidates who matter:

> News broke this week  that an independent presidential candidate going by the name of "Deez Nuts" is polling at 9 percent in the latest PPP poll from North Carolina — after posting similar numbers in PPP polls of Minnesota (8 percent) and Iowa (7 percent).

![FEC form for Deez Nutz images/fec-deez-nutz.jpg](images/fec-deez-nutz.jpg)

http://www.rollingstone.com/politics/news/meet-deez-nuts-the-teen-presidential-candidate-punking-america-20150819

http://www.kansascity.com/news/politics-government/article31625372.html

> http://www.kansascity.com/news/politics-government/article31625372.html

> Olson suddenly — and unwittingly to some extent — was transformed from a high school golfer, baseball pitcher, basketball player and percussionist into a national political force that has polled better than seasoned governors and lawmakers four times his age. He reached 7% support in one Iowa poll. Technically, Brady needs to be 20 years older to qualify as a candidate. But Deez Nuts already is on the ballot in 30 states.

http://www.usatoday.com/story/news/politics/elections/2015/08/26/deez-nuts-iowa-interview/32391651/


> It took Brady all of 15 minutes to file his candidacy July 26 with the Federal Election Commission.
> 
> “I can’t believe he came up with an assumed name but used our home address,” said Brady’s mom.



http://www.usatoday.com/story/news/politics/elections/2015/08/26/deez-nuts-iowa-interview/32391651/

[Meet presidential candidate Deez Nuts](http://www.cbsnews.com/news/meet-presidential-candidate-deez-nuts/)

> More than 500 people you've never heard of have filed paperwork to run for president in 2016 but just one is appearing alongside Democrat Hillary Clinton and Republican Donald Trump in some polls: Deez Nuts.

https://en.wikipedia.org/wiki/Deez_Nuts_(politician)

>  A poll performed in mid-August 2016 shows Deez Nuts slightly edging out candidates Harambe and Jill Stein in Texas, with 3% of the vote.

What happened to Deez Nutz? 



http://www.thewrap.com/deez-nuts-will-have-to-pull-out-of-presidential-race/

FEC Not happy:
http://www.fec.gov/press/press2016/news_releases/20160818release.shtml

> WASHINGTON – The Federal Election Commission today announced an interim procedure staff will follow to verify information in filings from the 2016 election cycle that appear to be unlawfully false or fictitious. The new procedure comes in response to an increase this election cycle in the filing of registration and statement of candidacy forms (FEC Forms 1 and 2) that provide patently false candidate or treasurer names, questionable contact or bank information, or material that does not relate to campaign finance, such as drawings, essays and personal court records.




http://www.usatoday.com/story/news/politics/onpolitics/2016/08/19/fec-cracks-down-on-fake-candidates/88993532/

> The folks over at the Federal Election Commission are not amused by your claims to be running for the presidency, and this week they announced plans to crack down on the wave of fake candidates filing paperwork with the agency.



There's only a Brady Olson running for president, who filed on September 26, 2015.

http://www.fec.gov/fecviewer/CandidateCommitteeDetail.do?candidateCommitteeId=P60015831&tabIndex=1

With a committee named "Deez Nutz for President" Appears to be fake...

---------


### Looking up Clinton


<img src="images/fec-candidate-committee-search-clinton.png" alt="fec-candidate-committee-search-clinton.png">

Note the several candidates and committees. She ran for Senate. She has a different committee for the Senate race. 

On her filings page, there's a bit more work:

[hillary filings](http://www.fec.gov/fecviewer/CandidateCommitteeDetail.do?candidateCommitteeId=P00003392&tabIndex=1)

<img src="images/fec-details-clinton-campaign.png" alt="fec-details-clinton-campaign.png">


Note:

- The July 30,, 2016 amendment to the statement of candidacy
  + http://docquery.fec.gov/cgi-bin/forms/P00003392/1091712/
  + http://www.nytimes.com/2016/07/23/us/politics/tim-kaine-hillary-clinton-vice-president.html
- The 2007 filings: 


### Looking up Trump



[Trump makes presidential bid official](http://www.politico.com/story/2015/06/donald-trump-president-2016-official-119295)

> Nearly a week after announcing he was running for president, Donald Trump has made it official and filed his paperwork with the Federal Election Commission.

> The one-page statement of candidacy was hand-delivered to the FEC on Monday. Trump had 15 days to send the document to the agency.

> Based on the document, the business tycoon’s campaign committee will be called Donald J. Trump for President, Inc.





---------------

# Trump's hands and how committees are named


https://ballotpedia.org/Hillary_Clinton_presidential_campaign_key_staff_and_advisors,_2016



# The difference between general and primary election money

> Hall’s campaign reported having $39,182 in cash on hand at the end of the last reporting period in mid May, according to Federal Election Commission records. That means the campaign spent almost all of the $978,983 that it raised from individuals and political committees for both the primary and the general election.



http://www.latimes.com/politics/la-pol-isadore-hall-general-election-primary-spending-20160605-snap-story.html

https://www.opensecrets.org/pres16/candidate?id=N00000019

https://www.opensecrets.org/pres16/outside-groups


# Vaping and video games - what you're not supposed to spend money on


http://www.sandiegouniontribune.com/news/watchdog/sdut-hunter-video-games-2016apr05-htmlstory.html

http://www.sandiegouniontribune.com/news/watchdog/sdut-hunter-repay-2016apr11-htmlstory.html

http://gawker.com/watchdog-group-calls-for-ethics-investigation-into-vapi-1773684395

# HISTORY OF CAMPAIGN FINANCE

https://www.opensecrets.org/overview/index.php
https://votesmart.org/education/campaign-finances
https://www.opensecrets.org/overview/limits.php
https://www.opensecrets.org/dark-money/basics

## Dark money

### Super PACs

> Technically known as independent expenditure committees, super PACs may raise and spend an unlimited amount of money and accept contributions from companies, nonprofits, unions and individuals.

> Since super PACs cannot give money directly to candidates, they are exempt from the limits on fundraising and spending that regular PACs must abide by. Super PACs may raise and spend an unlimited amount of money and accept contributions from companies, nonprofits, unions and individuals.

Not all Super PACs are Dark Money.



Super PACs in the news: [Behind the Clinton campaign: Dark money allies](https://sunlightfoundation.com/blog/2015/12/03/behind-the-clinton-campaign-dark-money-allies/)


[David Brock's Army of "Nerd Virgins" Has Hillary's Back](http://www.motherjones.com/politics/2014/09/david-brock-hillary-clinton-correct-the-record) - Inside the former Clinton antagonist's operation to destroy the anti-Hillary memes he once unleashed.



https://www.publicintegrity.org/2016/04/07/19521/how-citizens-united-helping-hillary-clinton-win-white-house


In the news:







Two kinds of campaign contributions and spending: 

- Money given directly to a candidate and their committee.
- Independent expenditures, in which a non-afilliated committee spends money on a race.

Federal elections:





----------------

References:

title: Government 101: Campaign Finances
url: https://votesmart.org/education/campaign-finances
description: |
  Project Vote Smart provides free, unbiased, in-depth information about current officials, candidates, issues, legislation, and voting. Non-partisan and nonprofit since 1988.


