---
title: Quiz 01
description: |
  Quiz covering the first 2 chapters of "Homicide" and "Art of Access". And some spreadsheets.
assigned_date: 2016-10-06
due_date: 2016-10-06
due_time: 1:30 PM
points: 5
type: Quiz
deliverables:
  - email me the answers at dun@stanford.edu
requirements:
  - have the correct answers
  - be done in 5 minutes
---

# Instructions

In an email to dun@stanford.edu, with the subject line:

      quiz-01-2016-10-06

Answer the questions below, then send it. Keep it simple, e.g.

1. A
2. C
3. The quick brown fox and goose


You have __5 Minutes__. If you're done early, sign up with your Stanford email at:

[https://stanford.carto.com/](https://stanford.carto.com/)



# The Questions


#### 1. What is the first rule in the so-called "guidebook of death investigation"?

| A. Don't talk about the guidebook of death investigation | B. Everyone lies                                         | C. You can't handle the truth. |
| D. Every man dies but not every man truly lives.         | E. Cases go red, then they go green, then they go black. |                                |
{:.table.table-bordered}

----------

#### 2. Finish this sentence:

> And you drink it. Because in a police department of about three thousand sworn souls, you are one of ______ investigators entrusted with the pursuit of that most extraordinary of crimes

| A: 10 | B: 36 | C: 80 | D: 120 | E: 300 |
{:table.table-bordered}
-----------



#### 3. In a year, about how many homicides total is a Baltimore detective expected to handle as both primary and secondary investigator?

| A. Between 1 to 3 a week | B. 100 | C. 15 | D. Number of years on the force, multiplied by 3 |
{:.table.table-bordered.table-condensed}

#### 4. In the one-line spreadsheet below, what formula would fit the cell X1?

|    W    |                X                |     Y     |    Z     |
|---------|---------------------------------|-----------|----------|
| 126.793 | <span class="hi">CHRISTIAN ran  127 yards on Sat</span> | Christian | Saturday |
{:.table.table-data.table-bordered}


A. `=UPPER(CONCATENATE(Y1, " ran ", ROUND(W1), " yards on ", LEFT(Z1,3))`

B. `=CONCATENATE(UPPER(Y1), " ran ", ROUND(W1), " yards on ", LEFT(Z1,3))`

C. `=CONCATENATE("UPPER(Y1)" ran , ROUND(W1), yards on, LEFT(Z1, 3))`

D. `=UPPER(CONCATENATE("Y1", " ran ", ROUND(W1), " yards on ", LEFT(Z1,3))`



#### 5. What's wrong with the text in the FOIA request to the Federal Bureau of Investigation below?

__Describe the error with a short sentence__. Assume that address/phone/goodbye boilerplate is filled in:


<div class="card">
  <div class="card-block">
August 20, 2016<br>
To: The FOIA Officer at the FBI Records Dept.<br>

This is a request under the California Sunshine Act of 1964. I hereby request the following record: The FBI's file on U.S. President Richard Milhous Nixon, who passed away on the 22nd of April, 1994.
<br><br>
In the event that there are fees, etc. etc. boilerplate
<br>
etc.
    
  </div>
</div>


# Answers

1. B
2. B
3. C
4. B
5. The federal FOIA law is not called the "California Sunshine Act"
