---
title: Spreadsheet-Made Data Visualizations That Are Relatively Simple and Absolutely Effective
description: |
  A non-comprehensive list of examples of powerful data storytelling in the wild that (likely) originated with a spreadsheet.
---

A short list of visualizations within the _technical_ means of anyone who knows how to use a spreadsheet, yet demonstrate an adept journalistic skill in how to filter the data and get to the story.



# A list of lists of data visualizations

For much of inspiration, a list of lists:

- ProPublica
  - [A Big Article About Wee Things](https://www.propublica.org/nerds/item/a-big-article-about-wee-things)
  - [How Information Graphics Reveal Your Brain’s Blind Spots](https://www.propublica.org/article/how-information-graphics-reveal-your-brains-blind-spots)
- Quartz roundups:
  - [Atlas](https://www.theatlas.com/)
  - [The most misleading charts of 2015, fixed](http://qz.com/580859/)
  - [The best infographics of 2015, and why we can’t stop looking at them](http://qz.com/501926/the-best-infographics-of-2015-and-why-we-cant-stop-looking-at-them/)
- New York Times roundups:
  + [2015](http://www.nytimes.com/interactive/2015/us/year-in-interactive-storytelling.html)
  + [2014](http://www.nytimes.com/interactive/2014/12/29/us/year-in-interactive-storytelling.html)
  + [2013](http://www.nytimes.com/newsgraphics/2013/12/30/year-in-interactive-storytelling/)
  + [2012](http://www.nytimes.com/interactive/2012/12/30/multimedia/2012-the-year-in-graphics.html)
- [Megan Jaegerman's brilliant news graphics, according to Tufte](http://www.edwardtufte.com/bboard/q-and-a-fetch-msg?msg_id=0002w4)
- [BuzzfeedNews Github Repo](https://github.com/BuzzFeedNews/everything)
- FiveThirtyEight
  - [Data Github Repo](https://github.com/fivethirtyeight/data)
  - [Our 47 Weirdest Charts From 2015](http://fivethirtyeight.com/features/our-47-weirdest-charts-from-2015/)


# Lists and tables

Visualizations that basically look like a spreadsheet:



<h3><a href="https://www.propublica.org/article/bailout-banks-grows-to-26-1027">Bailout Banks Grows to 26
</a></h3>

ProPublica's first big data application started out with just a hand-curated spreadsheet of banks that proudly announced they were "healthy" enough to get a federal bailout. 


<a href="https://www.propublica.org/article/bailout-banks-grows-to-26-1027"><img src="images/bailout-26-list.png" alt="bailout-26-list.png"></a>


<h3>
	<a href="https://projects.propublica.org/bailout/list/index">Eye on the Bailout: Bailout Recipients</a>
</h3>

The bailout recipients table, as a fancier table.

<a href="https://projects.propublica.org/bailout/list/index">
	<img src="images/table-bailout.png" alt="table-bailout.png">
</a>

 



<h3><a href="http://www.smalldatajournalism.com/class/fall2013/notes-1021/#small-multiples">Criminal Records of Government Witnesses Against John Gotti</a></h3>

One of Edward Tufte's classic examples of "Small Multiples" comes from a New York Times article citing a particularly effective  chart used by John Gotti's defense team: [A WEAKNESS IN GOTTI CASE; Major U.S. Witnesses Viewed as Unreliable](http://www.nytimes.com/1987/03/14/nyregion/a-weakness-in-gotti-case-major-us-witnesses-viewed-as-unreliable.html):

> Many lawyers and prosecutors who followed events in the seven-month trial of John Gotti said the underlying weakness of the prosecution’s case was its apparent reliance on turncoat career criminals as key witnesses against Mr. Gotti and six co-defendants. 
> 
> A signal that the credibility of the prosecution’s principal witnesses was in doubt came yesterday morning when the jury...reviewed an exhibit introduced by the defense. It was a chart listing the lengthy criminal records of seven prosecution witnesses who had obtained promises of leniency and other favors from the Government in return for their testimony against Mr. Gotti. Admitted Lies in the Past


Here's what that jury-convincing chart looked like -- Note how vertical position is used to indicate severity of crime -- Murder vs Reckless Endangerment. And while each column represents a defendant, it gets from most to least serious, with the two witnesses alleged to be murders having the most horizontal priority.


<a href="http://www.smalldatajournalism.com/class/fall2013/notes-1021/#small-multiples"><img src="http://www.smalldatajournalism.com/images/class/2013-10-21/gotti-chart.jpg" alt=""></a>



<h3>
  <a href="http://www.pbs.org/newshour/updates/newly-released-witness-testimony-tell-us-michael-brown-shooting/">What do the newly released witness statements tell us about the Michael Brown shooting?</a>
</h3>

Fantastic example of how to turn dense text into an immensely valuable visualization. It requires old-fashioned reading and research of the witness testimonies and then deciding what categories and boolean tests, e.g. Did witness testify yes or no to, "Did [Michael Brown] put his hands to his waist?". A more complicated version of our homework, [Cataloging Google's Self-Driving Car Accidents](http://2016.padjo.org/assignments/google-car-crash-reports/)


<a href="http://www.pbs.org/newshour/updates/newly-released-witness-testimony-tell-us-michael-brown-shooting/">
  <img src="images/newshour-ferguson-table-witnesses.png" alt="newshour-ferguson-table-witnesses.png">
</a>


<h3>
  <a href="http://www.nytimes.com/interactive/2012/08/24/sports/top-finishers-of-the-tour-de-france-tainted-by-doping.html?_r=0">Top Finishers of the Tour de France Tainted by Doping</a>
</h3>

Think of this as a pivot table with  "Rank" as the row and "year" as the column, and instead of just "Armstrong" as the value, a thumbnail of the victor's face.

<a href="http://www.nytimes.com/interactive/2012/08/24/sports/top-finishers-of-the-tour-de-france-tainted-by-doping.html?_r=0">
  <img src="images/tour-de-france-nytimes-doping.jpg" alt="tour-de-france-nytimes-doping.jpg">
</a>


<h3><a href="http://www.motherjones.com/politics/2014/07/teen-abortion-judicial-bypass-parental-notification">
  Since 2010, How Have States Have Made It Harder For Minors To Obtain A Judicial Bypass?
</a></h3>

The simplified-maps atop each column is a nice feature for showing, at a glance, the scope of effects across the nation, as the list of states is too long to fit on a screen. But the real power in this visualization comes from, again, the state-by-state research, particularly knowing which five boolean comparisons are worth making across every state.


<a href="http://www.motherjones.com/politics/2014/07/teen-abortion-judicial-bypass-parental-notification">
<img src="images/motherjones-judicial-bypass-tables.png" alt="motherjones-judicial-bypass-tables.png"></a>


<h3>
  <a href="https://www.theguardian.com/world/interactive/2012/may/08/gay-rights-united-states">Gay rights in the US, state by state</a>
</h3>

This is a spreadsheet, but they decided to make it circular to make it easier to view all 50 states at once. The tool/technique to make that circle isn't as important as much as the research, cataloguing of research-by-state, and making a spreadsheet.


<a href="https://www.theguardian.com/world/interactive/2012/may/08/gay-rights-united-states">
  <img src="images/guardian-gay-rights.png" alt="guardian-gay-rights.png">
</a>





<h3>
  <a href="http://mattmckeon.com/facebook-privacy/">The Evolution of Privacy on Facebook</a>
</h3>

Fancier-looking version of Guardian chart, with simpler data, but still based on smart research and spreadsheeting. Anyone with research skills and access to Google could build this kind of table for any social-media service.

<a href="http://mattmckeon.com/facebook-privacy/">
  <img src="images/evolution-of-privacy-facebook.png" alt="evolution-of-privacy-facebook.png">
</a>



<h3>
  <a href="http://www.nytimes.com/interactive/2015/10/03/us/how-mass-shooters-got-their-guns.html">How They Got Their Guns</a>
</h3>

This doesn't look like a list, but it most certainly had to begin as a list of incidents and guns, sorted in reverse chronological order. That they chose to "visualize" with photos of guns and paragraphs of text is just one example of how to make a list more than just a simple list:

<a href="http://www.nytimes.com/interactive/2015/10/03/us/how-mass-shooters-got-their-guns.html">
  <img src="images/how-they-got-guns.jpg" alt="how-they-got-guns.jpg">
</a>


<h3>
  <a href="http://projects.propublica.org/sopa/">Where Do Your Members of Congress Stand on SOPA and PIPA?</a>
</h3>

This visualization got more than a million page views in a day, and it all began with a list of Congressmembers and Googling of press releases:


<a href="http://projects.propublica.org/sopa/">
  <img src="images/sopa-opera-with-spreadsheet.jpg" alt="sopa-opera-with-spreadsheet.jpg">
</a>



# Charts

Just your typical line and bar charts.



<h3>
	<a href="http://www.nytimes.com/interactive/2015/12/10/us/gun-sales-terrorism-obama-restrictions.html">What Happens After Calls for New Gun Restrictions? Sales Go Up</a>
</h3>

An example of the power of "captions". A line chart of gun sales is easy to make. But these annotations, which can be added in manually (via Illustrator/Photoshop), add powerful context:

<a href="http://www.nytimes.com/interactive/2015/12/10/us/gun-sales-terrorism-obama-restrictions.html">
	<img src="images/gun-sales-after-shootings.png" alt="gun-sales-after-shootings.png">
</a>


<h3>
	<a href="http://www.nytimes.com/interactive/2016/08/30/us/syrian-refugees-in-the-united-states.html?_r=0">Syrian refugees admitted each month</a>
</h3>

Time-series of what could be mapped data; the increase in frequency of admitted refugees is as interesting as where they ended up.

<a href="http://www.nytimes.com/interactive/2016/08/30/us/syrian-refugees-in-the-united-states.html?_r=0">
	<img src="images/times-series-syrian-refugees.png" alt="times-series-syrian-refugees.png">
</a>



<h3>
<a href="http://www.nytimes.com/interactive/2015/12/28/opinion/rattner-2015-year-in-charts.html">Terrorism's Rising Death Toll </a>
</h3>


Terrorism is tricky and controversial todefine, so show what the data includes in terms of the total aggregate  (worldwide total), as well by individual country, to give proper persective to reader.


<a href="http://www.nytimes.com/interactive/2015/12/28/opinion/rattner-2015-year-in-charts.html">
<img src="terroriosm-rising-toll.png" alt="terroriosm-rising-toll.png"></a>



<h3><a href="http://www.nytimes.com/interactive/2015/12/28/opinion/rattner-2015-year-in-charts.html">More Guns = More Death</a></h3>

Considering the impact of gun ownership on gun-related deaths is more complicated than just showing absolute number of gun-related deaths. So the NYT juxtoposes two different rates to show the sheer magnitude of the U.S. being an outlier.


<img src="images/moreguns-death-nytimes.png" alt="moreguns-death-nytimes.png">


<a href="http://www.nytimes.com/interactive/2015/12/28/opinion/rattner-2015-year-in-charts.html"></a>


<h3><a href="http://fivethirtyeight.com/features/julia-louis-dreyfus-is-unstoppable-emmy-win/">Julia Louis-Dreyfus Is Unstoppable</a></h3>

This is just a multiseries scatterplot, where each data point is consists of the date of movie/tv-show on X-axis, IMDB score on the Y-axis. The different series (i.e. categories) is what's hand-labled on the cart, e.g "Films" and "Various Guest Appearances" to show that, except for the show _Watching Ellie_, JLD was a fan-favorite.


<a href="http://fivethirtyeight.com/features/julia-louis-dreyfus-is-unstoppable-emmy-win/"><img src="images/jld-power.png" alt="jld-power.png"></a>




<h3>
  <a href="http://varianceexplained.org/r/trump-tweets/">Text analysis of Trump's tweets confirms he writes only the (angrier) Android half</a>
</h3>

Despite the interesting statistical analysis of the raw Twitter data, this is basically a bar chart, with smart filtering and styling to reveal an insight about how Trump tweets. 

I like this writeup particularly because it shows the wealth of analyses possible even from word counts. In other words,[another argument on how word clouds are not just the most laziest and misleading of data visualization](http://www.niemanlab.org/2011/10/word-clouds-considered-harmful/) but pointlessly ineffective, too.



<h3><a href="http://www.prooffreader.com/2014/02/us-baby-names-1880-2012-part-1-diversity.html">
  U.S. baby names, 1880-2012: Diversity
</a></h3>

Think of "dominance of popular names" as a proxy for, "diversity of population".


<a href="http://www.prooffreader.com/2014/02/us-baby-names-1880-2012-part-1-diversity.html">
  <img src="images/proofreader-diversity-names.png" alt="proofreader-diversity-names.png">  
</a>

<!-- 

<h3>
  <a href="https://flowingdata.com/2013/09/25/the-most-unisex-names-in-us-history/">The Most Unisex Names in US History</a>
</h3>

Small multiples plus an area/line chart of the Social Security babyname data, grouped by year and gender for unisex names. No huge insight, just interesting:

<a href="https://flowingdata.com/2013/09/25/the-most-unisex-names-in-us-history/">
<img src="images/flowingdata-unisex-names.png" alt="flowingdata-unisex-names.png">
</a>

 -->

# Maps


<h3>
	<a href="http://www.nytimes.com/elections/results/president">Presidential Election Results: Donald J. Trump Wins (County, by Lead)</a>
</h3>

The typical election-result-by-political boundary will be a sea of red, because of the way rural areas skew Republican. This dot-size map shows something more interesting, by first doing the work of comparing 2 sets of election data before charting the circles.

<a href="http://www.nytimes.com/elections/results/president">
	<img src="images/nytimes-election-by-county-by-lead.png" alt="nytimes-election-by-county-by-lead.png">
</a>



<h3>
	<a href="http://www.nytimes.com/interactive/2016/08/30/us/syrian-refugees-in-the-united-states.html">People with Syrian ancestry, per 100,000 residents, and cities with at least one Syrian refugee placed since 2012</a>
</h3>

The U.S. Census has a data table, ["People Reporting Single Ancestry", with Syrian as a specific category](https://censusreporter.org/tables/B04004/), which is used to make the choropleth county map (shaded by value). The red circles are just point data for cities that have accepted at least one Syrian refugee. 

<a href="http://www.nytimes.com/interactive/2016/08/30/us/syrian-refugees-in-the-united-states.html">
	<img src="images/syrian-ancestry-choropleth.png" alt="syrian-ancestry-choropleth.png">
</a>



<h3>
	<a href="https://flowingdata.com/2016/06/14/firearms-dealers-vs-burgers-pizza-and-coffee/">Starbucks vs. Firearms Dealers</a>
</h3>
Your typical density/binning-mao: Starbucks minus gunshops per radius is calculated. Green dots are where the number is positive:

<a href="https://flowingdata.com/2016/06/14/firearms-dealers-vs-burgers-pizza-and-coffee/">
	<img src="images/flowing-data-firearms-vs-starbucks.png" alt="flowing-data-firearms-vs-starbucks.png">
</a>


<h3>
	<a href="http://www.nytimes.com/2015/08/20/upshot/how-texas-could-set-national-template-for-limiting-abortion-access.html">How Texas Could Set National Template for Limiting Abortion Access</a>
</h3>

Both simpler and harder than the Starbucks/gunshops map: just need one dataset, the list of abortion clinics. However, is that list harder to get than a list of Starbucks and/or gun shops?

<a href="http://www.nytimes.com/2015/08/20/upshot/how-texas-could-set-national-template-for-limiting-abortion-access.html">
	<img src="images/texas-national-template-abortion-access.png" alt="texas-national-template-abortion-access.png">
</a>


  <a href="http://projects.jsonline.com/apps/state-secrets/">State Secrets: Open records laws across the nation</a>
</h3>

An example of a cartogram: [representing states as something other than their normal geospatial boundaries](http://flowingdata.com/2015/05/12/the-great-grid-map-debate-of-2015/) (see also, [Soo Oh's "not so bad" election maps](http://www.vox.com/2016/6/2/11828628/election-maps-hard)). Uses the small-mutliples pattern. And most definitely something that started out with a spreadsheet, a row for every state, and predefined category/columns. 

<a href="http://projects.jsonline.com/apps/state-secrets/">
  <img src="images/state-rights-cartogram.png" alt="state-rights-cartogram.png">
</a>







# Unconventional


<h3>
	<a href="https://www.propublica.org/special/government-bailouts">History of U.S. Gov’t Bailouts</a>
</h3>

The first big data hit at ProPUblica, before actual money amounts were declared for the Treasury bank bailout in the post-2008 recession. People didn't know what other big bailout America had participated in, so ProProblica looked it up. The visualization's bubbles are all hand-placed:

<a href="https://www.propublica.org/special/government-bailouts">
	<img src="images/propublica-bailouts.png" alt="propublica-bailouts.png">
</a>



<h3>
	<a href="http://www.edwardtufte.com/bboard/q-and-a-fetch-msg?msg_id=0000Jr">Tufte's Cancer Slopechart</a>
</h3>


Raw data lists/tables are rarely effective data visualizations on their own, as the pure amount of text results in too much data ink to easily read. The slope chart is en example of how powerful straight lines and text can be, with relative positions being all that's needed to show both relative change and absolute values.

<a href="http://www.edwardtufte.com/bboard/q-and-a-fetch-msg?msg_id=0000Jr">
	<img src="images/tufte-cancer-slopechart.png" alt="tufte-cancer-slopechart.png">
</a>





<h3>
	<a href="https://xkcd.com/1732/">A Timeline of Earth's Average Temperature</a>
</h3>

A long list of data values with descriptive text, converted to a line chart. When Excel/Google Charts can't create a chart big enough to fit your data, you may need to filter/aggregate your data. Or, you may need to draw your own chart:


<a href="https://xkcd.com/1732/">
	<img src="https://imgs.xkcd.com/comics/earth_temperature_timeline.png" alt="">
</a>

