---
title: Florida's missing speeding cops
description: |
    How the Sun-Sentinel busted speeding cops using databases and grade-school arithmetic 
references:

  - title: "Citation for 2013 Pulitzer Prize for Public Service: Sun Sentinel"
    url: http://www.pulitzer.org/citation/2013-Public-Service

  - title: "Sun-Sentinel Online Database: Speeding Cops in South Florida"
    description: |
      An interactive database listing each police-associated toll pass record had a calculated speed over the Florida highway's speed limit.
    url: http://databases.sun-sentinel.com/news/broward/ftlaudCopSpeeds/ftlaudCopSpeeds_list.php
  
  - title: "YouTube: Florida Highway Patrol Arrests Miami Police Officer Dashcam"
    url: http://www.youtube.com/watch?v=nq1sscJcZdA

  - title: "How the Sun Sentinel reported its Pulitzer Prize winning coverage of off-duty cops"
    url: http://www.ire.org/blog/ire-news/2013/04/15/how-sun-sentinel-reported-its-pulitzer-prize-winni/

  - title: Miami Police Union Leader Retaliates Against Woman Who Pulled Cop Over by Doxing Her

    url: https://photographyisnotacrime.com/2016/02/04/miami-police-union-leader-retaliates-against-woman-who-pulled-cop-over-by-doxing-her/
---




### The video that started it

<iframe width="640" height="360" src="//www.youtube.com/embed/hBHOTK4sQPY" frameborder="0" allowfullscreen></iframe>


### How it was reported


[How the Sun Sentinel reported its Pulitzer Prize winning coverage of off-duty cops](http://www.ire.org/blog/ire-news/2013/04/15/how-sun-sentinel-reported-its-pulitzer-prize-winni/)

> Then it dawned on us: Florida’s toll system, SunPass, records the date, location and time down to the hundredth of a second when a car passes through a toll booth. If we got those records for police vehicles, we could calculate their speed based on the distance and time it took to go from one toll location to the next.



### The partially-processed data


[Database: Speeding Cops in South Florida](http://databases.sun-sentinel.com/news/broward/ftlaudCopSpeeds/ftlaudCopSpeeds_list.php)

<img src="images/database-speeders.png" alt="database-speeders.png">



### Visualizations


Graphic: [Speeding rampant in some agencies](http://www.sun-sentinel.com/fl-gx-agency-chart.eps-20120210-graphic.html)

<img src="images/agency-chart.png" alt="agency-chart.png">


Graphic: [Fewer tickets for police](http://www.sun-sentinel.com/fl-gx-1a-citation-pies.eps-20120214-graphic.html#nt=oft13a-5gp1)

<img src="images/fewer-tickets-chart.png" alt="fewer-tickets-chart.png">


[Cop blazes through Broward County](http://www.sun-sentinel.com/fl-gx-fausto-timeline.eps-20120210-graphic.html)

<a href="http://www.sun-sentinel.com/fl-gx-fausto-timeline.eps-20120210-graphic.html"><img src="images/cop-blazes-broward.png" alt="cop-blazes-broward.png"></a>



### The aftermath


> "What the Sun Sentinel has done is a service to all police agencies because if they did not know they had a speeding problem, now they do...I, like most chiefs around, if you ask them everybody's going to tell you, `We didn't know it was this bad'"

-- Miami police Chief Manuel Orosa, as quoted in, [36 Miami cops to be punished, Sun Sentinel](http://www.pulitzer.org/works/2013-Public-Service); June 5, 2012. 


#### Violations of a private database

[Highway Patrol trooper who pulled over cop settles privacy lawsuit against Broward Sheriff's Office](http://www.sun-sentinel.com/local/broward/fl-jane-watts-broward-sheriff-settlement-20160529-story.html)

> She learned that 88 officers from 25 agencies from across Florida looked up private information from the state's database, such as her home address, picture, Social Security number, date of birth and detailed vehicle description, according to her lawsuit.

> The driver license information available to police officers is known as DAVID (Driver And Vehicle Information Database) and is more detailed than information available to the rest of the public. The database is meant to be accessed for legitimate police work.




####  Miami-Dade and a Citizen

From earlier this year in 2016: [VIDEO: Miami driver Claudia Castillo pulls over police officer for speeding](http://www.10news.com/entertainment/around-the-web/video-miami-driver-claudia-castillo-pulls-over-police-officer-for-speeding)


<iframe width="853" height="480" src="https://www.youtube.com/embed/p7Au42hxpYQ?rel=0" frameborder="0" allowfullscreen></iframe>

Via Photography is Not a Crime: [Miami Police Union Leader Retaliates Against Woman Who Pulled Cop Over by Doxing Her](https://photographyisnotacrime.com/2016/02/04/miami-police-union-leader-retaliates-against-woman-who-pulled-cop-over-by-doxing-her)

<img src="images/javi-ortiz-fb.jpg" alt="">
