---
title: How to Fail at Data Journalism
stub: true
description: |
    If you fail at data journalism, it just means you failed at journalism.
---



A lot of hesitation stems from their unfamiliarity with math, etc. The good news is, a lot of hate is just for being a journalist. And then any additional hate will be because you've failed some other journalistic tenet. Data probably won't have a thing to do with it.


# Why people hate journalists



##


# Misleading axes

<a href="http://www.cbsnews.com/8301-505123_162-42849870/how-purdue-used-misleading-charts-to-hide-oxycontins-addictive-power/"><img src="http://www.smalldatajournalism.com/images/class/2013-10-28/oxycontin-chart.png" alt=""></a>

> A case filed by the Commonwealth of Kentucky against Purdue Pharma sheds new light on the origin of an infamously misleading chart showing that OxyContin stays in patients’ blood levels over time, when in fact levels of the drug drop off sharply in users, triggering withdrawal symptoms and addiction. The chart was later used by Purdue as a marketing tool to convince doctors that OxyContin was less addictive than it actually was, the case claims.




# PowerPoint

http://www.smalldatajournalism.com/class/fall2013/notes-1028/

<a href="http://www.nytimes.com/2010/04/27/world/27powerpoint.html"><img src="http://www.smalldatajournalism.com/images/class/2013-10-28/war-powerpoint.png" alt=""></a>

[We Have Met the Enemy and He Is PowerPoint](http://www.nytimes.com/2010/04/27/world/27powerpoint.html)

> Gen. Stanley A. McChrystal, the leader of American and NATO forces in Afghanistan, was shown a PowerPoint slide in Kabul last summer that was meant to portray the complexity of American military strategy, but looked more like a bowl of spaghetti.

> “When we understand that slide, we’ll have won the war,” General McChrystal dryly remarked, one of his advisers recalled, as the room erupted in laughter.

> “It’s dangerous because it can create the illusion of understanding and the illusion of control,” General McMaster said in a telephone interview afterward. “Some problems in the world are not bulletizable.



# Word Clouds
