#site-header{
    margin-bottom: 1.5em;
    padding-top: 0.5em;
    border-bottom: thin dotted #099;
    background: #f5f5f5;

  .site-title{
    font-size: 0.9rem;
    font-weight: 400;
    color: #222;
  }

}
