h1, .h1 { font-size: $font-size-h1; }
h2, .h2 { font-size: $font-size-h2; }
h3, .h3 { font-size: $font-size-h3; }
h4, .h4 { font-size: $font-size-h4; }
h5, .h5 { font-size: $font-size-h5; }
h6, .h6 { font-size: $font-size-h6; }


.banner.site-title{
    font-size: $font-size-huge;
}

@media  screen and (max-width: breakpoint-max(sm)) {
    h1, .h1 { font-size: $font-size-h1 * 0.8; }
    h2, .h2 { font-size: $font-size-h2 * 0.8; }
    h3, .h3 { font-size: $font-size-h3 * 0.8; }
    h4, .h4 { font-size: $font-size-h4 * 0.8; }
    h5, .h5 { font-size: $font-size-h5 * 0.8; }
    h6, .h6 { font-size: $font-size-h6 * 0.8; }

    .banner.site-title{
        font-size: $font-size-h1;
    }
}


.site-title{
    a, a:link, a:visited{
        text-decoration: none;
        color: inherit;
    }
}


h1,h2,h3{
    a, a:link, a:visited{
        text-decoration: none;
    }
}
