.mediawrap{
  img{
    @extend .img-fluid !optional;
    border: thin solid $gray-default;
  }
}



.container img{
    @extend .img-fluid;
    border: thin solid $gray-default;
    margin-bottom: 2.0em;
    margin-left: auto;
    margin-right: auto;
}
