h1.page-title{
    font-size: $font-size-h1 * 1.2;
}


.nutgraf{
    font-size: 1.1rem;
    color: #777;
}

.sec{
    margin-top: 2.5em;
}


ul{
    padding-left: 1em;

    li{
        margin-bottom: 0.1rem;
    }
}


blockquote{
    @extend .blockquote;
    font-size: 0.9rem;
}


#pagereferences .reference{
    margin-bottom: 1.0em;
}
