


.table {
  border-collapse: collapse;
  border-spacing: 0;
  min-width: 50%;
  max-width: 100%;
  width: auto;

  background-color: transparent;

  th, td{
    vertical-align: top;
  }

  thead th{
    border-bottom: 2px solid #666;
    background-color: #ffe9ff;
  }

  // th{
  //   font-weight: bold;
  //   padding: 8px;
  //   line-height: 1.428571429;
  //   vertical-align: top;
  //   border-top: 1px solid #ddd;
  // }

  // th,td{
  //   padding: 0.5em;
  //   border-top: thin solid #ddd;
  //   border-left: thin solid #ddd;
  //   border-right: thin solid #ddd;
  // }
}

table.table-bordered.table-data{
  th, td{
    border: thin solid #888;
  }

  thead th{

  }
}

table.table-sm{
  font-size: $font-size-sm;
}

table.table-data{
  font-family: $font-family-monospace;
  @extend .table-bordered;
  @extend .table-sm;
}

table.table-sql{
  @extend .table;
  @extend .table-bordered;
  @extend .table-data;
  @extend .table-sm;
}

table.table-dual{
  th:first-child, td:first-child{
    text-align: left;
    font-weight: bold;
  }
  th:last-child, td:last-child{
    text-align: right;
  }

}


.table-mono-desc{
  td:first-child{
    width: 20%;
  font-family: $font-family-monospace;
  }


}
td .hi{
  background: yellow;
}
