---
title: MuckRock, Baltimore, and more David Simon
assigned_date: 2016-11-15
due_date: 2016-11-17
due_time: 1:30PM
points: 0
description: |
    Some readings, a quick signup, stuff to prep for the last 2 weeks of data journalism work. No points, but please do the work or face a very difficult quiz after Thanksgiving...
deliverables:
  - |
    [Please sign up for MuckRock](https://www.muckrock.com/accounts/signup/basic/) and send me an email with your MuckRock username so I can upgrade you.
---


# Become a MuckRock Pro

[Michael Morisy](https://twitter.com/morisy), founder of FOIA-service [MuckRock](https://www.muckrock.com/) has generously gifted our entire cohort with free MuckRock Pro accounts.

Basically, you can file up to 150 FOIAs in a month, and MuckRock will take care of the boilerplate and tracking. Plan on spending the 9th week of class researching and thinking about what records you're interested in for the rest of the year.

## How to signup

1. Sign-up for a Basic account here: [https://www.muckrock.com/accounts/signup/basic/](https://www.muckrock.com/accounts/signup/basic/)
2. When the process is finished, __email__ me your __username__ and I will add you to our Pro account.


Since sending a FOIA is free...why not? You can see the few things I've asked for (at $20 for 4 requests, at the non-Pro rate!) [on my profile](https://www.muckrock.com/accounts/profile/danso/).

This little signup is somewhat related to one of our last projects: [10 FOIAs](/assignments/ten-foias)



# Read the 2010 Baltimore Sun investigation of rape case numbers

One of my favorite examples of how to do something when all you have is bad data:

- [Project: City rape investigations questioned](http://www.baltimoresun.com/news/maryland/bal-city-rapes-gallery-storygallery.html)
- [City rape statistics, investigations draw concern](http://www.baltimoresun.com/news/bs-md-ci-rapes-20100519-story.html#nt=storygallery) by Justin Fenton.

Earlier in the quarter, we read another investigation of how to count what's being legally ignored: the [Sun-Sentinel's Pulitzer Prize investigation of speeding of Florida cops](http://2016.padjo.org/articles/florida-speeding-cops/).


But speeding is something that can be more or less mathematically proven, which is how the Sun-Sentinel prevailed despite the lack of police records. There is much less agreed-upon ground on proving sexual assault allegations, even under the most ideal circumstances, nevermind when police investigators start to shirk their duty.

[Read how Baltimore Sun reporter Justin Fenton](http://www.baltimoresun.com/news/bs-md-ci-rapes-20100519-story.html#nt=storygallery) convinced City Hall that something was broken, even using the suspiciously flawed numbers published by the Baltimore Police Department.

[Here's a relevant chart](http://www.baltimoresun.com/news/bs-md-ci-unfounded-rape-g2.eps-20100627-graphic.html):

<a href="http://www.baltimoresun.com/news/bs-md-ci-unfounded-rape-g2.eps-20100627-graphic.html">
  <img src="images/baltimore-sun-rape-infographic.jpg" alt="via the Baltimore Sun">
</a>

Last year's lesson: [Baltimore's strange rape decline](http://2015.padjo.org/briefs/baltimore-rapes-decline/)




# David Simon pressing the police

I know, we've read a lot of his words. The journey is almost over...These articles take place in 2009 but are relevant today and provide some insights about the tension between accountability and secrecy when it comes to public records.

- [In Baltimore, No One Left to Press the Police](http://davidsimon.com/in-baltimore-no-one-left-to-press-the-police/) - I read this long before I ever watched _The Wire_. One of the best elegies for the importance of journalism and public records.
- [Fatal shooting not first time officer was overpowered](http://articles.baltimoresun.com/2009-02-20/news/0902190125_1_mckissick-suspect-female-officer) - after Simon called up the Sun's crime editor, the Sun reported that Officer McKissick was involved in a previous shooting, under similar, unsafe circumstances.
- [Officer charged in fatal shooting challenges new no-names policy](http://articles.baltimoresun.com/2009-02-21/news/0902200204_1_city-police-police-department-baltimore-police) - Not related to the McKissick shooting, but an interesting side-story about a cop claiming harm from a secrecy provision meant to protect cops.


<!-- 
## Dallas Police and transparency

To see a recent example of a police department trying to find the balance, the [Dallas PD was lauded for reform ](http://www.theatlantic.com/politics/archive/2016/07/dallas-police/490583/)

http://www.dallasnews.com/news/crime/2015/11/10/dallas-police-to-withhold-names-of-officers-involved-in-shootings-for-48-hours
 -->
