---
title: The Washington Post and the Trump Foundation
description: |
  A reporter is curious about how Trump the presidential candidate compares to Trump the private billionaire when it comes to charity. By systematically double-checking Trump's claims, he found an even better story.
references: 
  - title: DONALD J TRUMP FOUNDATION INC Profile and 990s
    publisher: ProPublica Nonprofit Explorer
    url: https://projects.propublica.org/nonprofits/organizations/133404773
  - title: Donald J Trump Foundation Inc Profile and 990s
    publisher: Guidestar
    url: https://www.guidestar.org/profile/13-3404773
  - title: Donald J Trump Foundation Inc Profile
    publisher: Charity Navigator
    url: https://www.charitynavigator.org/index.cfm?bay=search.profile&ein=133404773

  - title: "Donald Trump has given more to charity in the past four months than in the previous 10 years"
    url: https://www.washingtonpost.com/news/post-politics/wp/2016/08/26/donald-trump-has-now-given-more-to-charity-in-the-last-four-months-than-in-the-previous-10-years-combined/
    description: |
      The total of the charitable donations that The Post has discovered between 2006 and May appears to be less than $800,000.
    published_at: 2016-08-26
    authors:
      - David A. Fahrenthold 

  - title: "Meet the reporter who’s giving Donald Trump fits"
    url: https://www.washingtonpost.com/news/the-fix/wp/2016/09/15/how-the-reporter-behind-the-trump-foundation-stories-does-it/
    description: |
      A Q and A with WaPo's David Fahrenthold.
    published_at: 2016-09-15
    authors:
      - Chris Cillizza 
      - David A. Fahrenthold 

  - title: "How Donald Trump Exploited Charity for Personal Gain"
    url: http://www.theatlantic.com/politics/archive/2016/09/how-donald-trump-exploited-charity-for-personal-gain/499535/
    description: |
      The billionaire used the Donald J. Trump Foundation to mislead the public—and to funnel cash to an elected prosecutor poised to investigate Trump University.
    published_at: 2016-09-13
    authors:
      - Conor Friedersdorf

  - title: "Trump used $258,000 from his charity to settle legal problems"
    url: https://www.washingtonpost.com/politics/trump-used-258000-from-his-charity-to-settle-legal-problems/2016/09/20/adc88f9c-7d11-11e6-ac8e-cf8e0dd91dc7_story.html
    description: |
      The use of money in four new cases appears to violate the laws that govern charities.
    published_at: 2016-09-20
    authors:
      - David A. Fahrenthold

  - title: "How a Univision anchor found the missing $10,000 portrait that Trump bought with his charity’s money"
    url: https://www.washingtonpost.com/news/post-politics/wp/2016/09/21/how-a-univision-anchor-found-the-missing-10000-portrait-that-trump-bought-with-his-charitys-money/
    description: |
      Univision anchor Enrique Acevedo finds portrait of the GOP nominee hanging in the sports bar at Trump's National Doral Miami hotel.
    published_at: 2016-09-21
    authors:
      - David A. Fahrenthold


  - title: Trump Foundation lacks the certification required for charities that solicit money
    url: https://www.washingtonpost.com/politics/trump-foundation-lacks-the-certification-required-for-charities-that-solicit-money/2016/09/29/7dac6a68-8658-11e6-ac72-a29979381495_story.html
    description: |
      The foundation — sustained for years by donors outside the Trump family — never obtained the registration that New York requires to solicit money from the public, state officials said.
    published_at: 2016-09-29
    authors:
      - David A. Fahrenthold 


  - title: David Fahrenthold's notes on Trump Foundation
    url: https://twitter.com/Fahrenthold/status/773528158544990208
    description: |
      Also: https://twitter.com/Fahrenthold/status/779318724964732928

  - title: "Trump bought a 6-foot-tall portrait of himself with charity money. We may have found it."
    url: https://www.washingtonpost.com/politics/a-clue-to-the-whereabouts-of-the-6-foot-tall-portrait-of-donald-trump/2016/09/14/ae65db82-7a8f-11e6-ac8e-cf8e0dd91dc7_story.html
    description: |
      Aide to painter said he shipped it to a Trump golf course in New York.
    published_at: 2016-09-14
    image_url: https://img.washingtonpost.com/rf/image_1484w/2010-2019/WashingtonPost/2016/09/14/National-Politics/Images/trumpcheck.PNG?uuid=dHz1Anq-Eeasjs-ODdkdxw
    authors:
      - David A. Fahrenthold 

  - title: "Three of the mysteries in the files of the Donald J. Trump Foundation have been solved. Here’s what we know."
    url: https://www.washingtonpost.com/news/post-politics/wp/2016/09/12/there-were-five-phantom-donations-in-the-files-of-donald-trumps-foundation-heres-what-we-know/
    description: |
      When The Post called, the charities listed said they'd never received anything from Trump or his foundation.
    published_at: 2016-09-12
    authors:
      - David A. Fahrenthold

  - title: Fact-checking Donald Trump’s Charity Claims
    url: https://www.propublica.org/podcast/item/fact-checking-donald-trumps-charity-claims
    description: |
      Podcast: Donald Trump says he has personally donated millions to charity in recent years. Rather than debunking his claims, Washington Post reporter David Fahrenthold set out to prove them true – and still hasn’t been able to.
    published_at: 2016-09-12
    authors:
      - Robert Faturechi
      - September



  - title: "No, Trump's foundation money does not come from him"
    url: http://www.politifact.com/truth-o-meter/statements/2016/sep/14/kellyanne-conway/no-donald-trumps-foundation-money-does-not-come-hi/
    description: |
      Donald Trump campaign's claim that his foundation's money "is his money" was rated as "False" by PolitiFact.
    published_at: 2016-09-14
---

The investigation into Trump's foundation by WaPo's David Fahrenthold is a great example of how a reporter who knows data and documents can find something compelling and decisive, even on a story that everyone else in the world is chasing.


<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">For those who wondered, it is still theoretically possible <a href="https://twitter.com/realDonaldTrump">@realdonaldtrump</a> gave all his missing $$$ to <a href="https://twitter.com/NaturalHigh">@naturalhigh</a> <a href="https://t.co/Yxj7MTsK9d">pic.twitter.com/Yxj7MTsK9d</a></p>&mdash; David Fahrenthold (@Fahrenthold) <a href="https://twitter.com/Fahrenthold/status/773528158544990208">September 7, 2016</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">UPDATE: I&#39;ve now called 346 charities, looking for proof that <a href="https://twitter.com/realDonaldTrump">@realDonaldTrump</a> really does give millions of his own $ <a href="https://t.co/NpTrQYnoh3">pic.twitter.com/NpTrQYnoh3</a></p>&mdash; David Fahrenthold (@Fahrenthold) <a href="https://twitter.com/Fahrenthold/status/779318724964732928">September 23, 2016</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>


# How it started

By following one of the oldest rules of journalism -- "If your mom says she loves you, get a second opinion". Or, in this case, when Trump says he's donated money to a charity, _ask the charity_:

[Meet the reporter who’s giving Donald Trump fits](https://www.washingtonpost.com/news/the-fix/wp/2016/09/15/how-the-reporter-behind-the-trump-foundation-stories-does-it/)

> FIX: When did you decide to start looking into Trump’s charitable giving through his foundation? Why?

> Fahrenthold: The real start of it was the fundraiser that Trump had for veterans in Iowa in late January. He said he'd raised $6 million — and then he toured around Iowa and New Hampshire handing out big novelty checks to local vets groups. But then Trump stopped. And he hadn't given away anywhere near $6 million. That started us looking. We found that Trump seemed to have stockpiled a lot of the vets money in this oddball Trump Foundation, which had no staff and very little money. In fact, for a long time, it seemed the Trump Foundation had actually *made* money on the vets fundraiser, because it had given out far less than it had taken in from other donors (who expected it to quickly pass on their donations to vets groups). 

> The vets saga ended strangely: Trump's people said he'd given the $1 million secretly. We checked. That was false. Trump hadn't given the $1M away at all. Then, he finally did, in the middle of the night. Then Trump held an angry press conference where he denounced the media for, in effect, forcing him to explain what he'd done with the money other people had entrusted to him, the money in the Trump Foundation. That made us more interested. 


## It can start with being curious

> I also became interested in researching Trump's broader history of charity. If this was how he would act under the microscope of a presidential campaign, how had he acted in past years, back when nobody was looking?




"Data journalism" can be thought of as little more than being _systematic_ if your fact-checking:


> Fahrenthold: I started calling charities in June, asking dozens of them if they'd ever received a personal donation, from Trump's own pocket. At that time, I knew Trump had promised he'd given millions of dollars out of his own pocket — but he wouldn't tell us which groups he'd given to, or when. I didn't expect to find all of Trump's giving.


## It's OK to predict what you'll find


> I didn't expect to find all of Trump's giving. But I thought I might find the tip of the iceberg: I'd discover a few large and previously unrevealed gifts from Trump to charities, which would show that he really had been giving his money away in private. 
> 
> After 150 or so, I hadn't found the iceberg. Charity after charity told me they'd never received a cash gift from Trump — or that, if they had, it had been before 2009.

> That's when I started to realize that there might not *be* any iceberg. Instead, whenever I found a recent gift from Trump to a charity, it was always the Trump Foundation's money. Which, as you said, was other people's money.



