---
title: Public Affairs Data Journalism I
layout: /layouts/homepage_layout
---




<section class="sec">
  <div class="container">
    <p>The journalism of ones and zeros and life and death and everything in between.</p>


    <ul class="list-inline">
        <li class="list-inline-item">
            <a href="/syllabus">Syllabus</a>
        </li>
        <li class="list-inline-item">
            <a href="/assignments">Assignments</a>
        </li>
    </ul>



  </div>
</section>






<section id="about-class">
    <div class="container">
            <%= partial 'content_partials/homepage/about_class' %>
    </div>
</section>



