---
title: Public Affairs Data Journalism I
layout: /layouts/homepage_layout
---




<section class="sec">
  <div class="container">

    <p>
        For today: <a href="/schedule/2016-10-27">2016-10-27</a>
    </p>

    <p>
    Journalism about ones and zeros, life and death,
    and everything in between.
    </p>

    Jump to:
    <ul class="list-inline">
        <li class="list-inline-item">
            <strong><a href="/syllabus">Syllabus</a></strong>
        </li>
        <li class="list-inline-item">
            <strong><a href="/assignments">Assignments</a></strong>
        </li>
    </ul>




  </div>
</section>






<section id="about-class">
    <div class="container">
            <%= partial 'content_partials/homepage/about_class' %>
    </div>
</section>



