---
title: Public Affairs Data Journalism I
layout: /layouts/homepage_layout
---



<section class="sec">
    <div class="container">

        <div style="font-size: 1.35em;">
            <strong>Current session:</strong>
            <a href="//2016.padjo.org">Fall 2016</a>
        </div>
    </div>
</section>


<section class="sec">
  <div class="container">

    <h4 style="display: inline;">Past years</h4>
    <ul class="list list-inline" style="display: inline;">
        <li class="list-inline-item"><a href="//2014.padjo.org">Fall 2014</a></li>
        <li class="list-inline-item"><a href="//2015.padjo.org">Fall 2015</a></li>
    </ul>


  </div>
</section>





