---
title: Public Affairs Data Journalism I
layout: /layouts/homepage_layout
---




<section class="sec">
  <div class="container">
    <p>The journalism of ones and zeros and life and death and everything in between.</p>





  </div>
</section>






<section id="about-class">
    <div class="container">
            <%= partial 'content_partials/homepage/about_class' %>
    </div>
</section>



