---
title: Syllabus
description: |
    Lessons and readings for the Fall 2016 session of Public Affairs Data Journalism I
---


<section id="schedule-list">

        <% schedule.each do |lesson| %>
            <div class="lesson">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="date date-title">
                            <%=link_to_unless lesson.stub?, friendly_date(lesson.date), lesson.url %>
                        </div>
                    </div>

                    <div class="col-sm-8">
                        <div class="agenda">
                            <ul class="list agenda-items">
                                    <% lesson.agenda.each do |item| %>
                                        <li><%=item.title %></li>
                                    <% end %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>

</section>
