---
title: Syllabus
description: |
    Lessons and readings for the Fall 2016 session of Public Affairs Data Journalism I
---


<section id="schedule">

        <% schedule.each do |lesson| %>
        <div class="lesson">

            <div class="row">
                <div class="col-sm-3">
                    <div class="date">
                        <%=link_to_unless lesson.stub?, friendly_date(lesson.date), lesson.url %>
                    </div>
                </div>

                <div class="col-sm-9">
                    <div class="agenda">
                        <ul class="list agenda-items">
                            <% lesson.agenda.each do |item| %>
                                <li><%=item.title %></li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            </div>
        <% end %>

</section>
