
<div class="table-of-contents">
  <ul id="the-page-toc">

  </ul>
</div>


<script>
$(document).ready(function(){
    $('#the-page-toc').toc({
        'selectors': 'h1,h2,h3', //elements to use as headings
        'container': '#contentbody', //element to find all selectors in
        'smoothScrolling': true, //enable or disable smooth scrolling on click
        'prefix': 'toc', //prefix for anchor tags and class names
        'onHighlight': function(el) {}, //called when a new section is highlighted
        // 'highlightOnScroll': true, //add class to heading that is currently in focus
        // 'highlightOffset': 100, //offset to trigger the next headline
        'headerText': function(i, heading, $heading) {
        //custom function building the header-item text
            if($(heading).data('description')){
                return $heading.text() + " - " +  // this doesn't quite work...html is stripped out
                                         $("<span class=\"description\">" +
                                         $(heading).data('description') +
                                         "</span>").html(); // TODO: this is horrible
            }else{
                return $heading.text();
            }
        },
    'itemClass': function(i, heading, $heading, prefix) {
      // custom function for item class
      return $heading[0].tagName.toLowerCase();
    }
    });

});
</script>
